section#section {
  border: 1px solid #808080;
  width: 60vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

form#form {
  display: flex;
  flex-direction: column;
  border: 1px solid #80808021;
}

div.title,
div.checkbox,
li.checkbox,
button.clear {
  border: 1px solid #80808021;
  padding: 0.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  border: none;
  width: 100vw;
  padding: 0.5rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.list li:nth-child(2n+1) {
  background-color: #eee;
}

button.clear {
  background-color: #808080;
}

img {
  width: 3vw;
}

p.error-message {
  color: #f00;
  display: none;
  border: solid;
}